@page
@model RazorPagesGetPostDemoUI.Pages.Person.AddInfoModel
@{
}

<h1>Add Person Info</h1>



<div>
    Post to add info that then does a get to the index page
    <form method= "get" asp-page="Index">
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name"/>
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Town"/>
        <label asp-for="CurrentPerson.Hometown" />
        <input type ="submit" />
    </form>
</div>

<div>
    Post to add info that then does a post to this page
    <form method="post asp-page="AddInfo">
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name" />
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Town" />
        <label asp-for="CurrentPerson.Hometown" />
        <input type="submit" />
    </form>
</div>

<div>
    Cross post to AddInfo page
    <form method="post" asp-page="Index">
        <input type="text" asp-for="CurrentPerson.Name" placeholder="Name" />
        <input type="text" asp-for="CurrentPerson.Hometown" placeholder="Town" />
        <label asp-for="CurrentPerson.Hometown" />
        <input type="submit" />
    </form>
</div>